agno
openai
python-dotenv
duckduckgo-search
pypdf
lancedb
streamlit
pandas
tantivy
yfinance
groq
arxiv
wikipedia
newspaper4k 
lxml_html_clean
youtube_transcript_api
sentence_transformers
bs4
agno
pymongo[srv]
pinecone==5.4.2
pinecone-text
cassio
langchain-astradb
langchain_huggingface
langchain_groq
langchain_community 
beautifulsoup4
cassandra-driver
langchain-google-genai
accelerate
langgraph
huggingface_hub[hf_xet]
chromadb
langchain-chroma
mcp
